
@font-face {
    font-family: TestFont;
    src: url(res/arial.ttf);
}

:root {
    width: 700px;
    height:600px;
    background-color:rgb(255, 255, 255, 0.8);
    background-image:url(res/test4.jpg);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: TestFont;
}

.Button {
    width: 100px;
    height:30px;
    background-color: coral;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition-property: background-color;
    transition-duration: 2s;
}

Button:hover{
    transform:  scale(10.5, 10.5);
    background-color: rgb(80, 135, 255);
    transition-property: background-color, transform;
    transition-duration: 0.5s;
}

Button:active{
    transform:  scale(0.95, 0.95);
    background-color: rgb(80, 255, 80);
}

.Text{
    background-color:transparent;
    color: aliceblue;
}

.InfoText{
    height:30px; 
    width:150px;
}

.column {
    background-color: transparent;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 100px;
}

#TestSlider {
    width : 200px;
    height : 20px;
    background-color: white;
}

#SliderBar {
    width : 20px;
    height : 40px;
    transform: translate(-10px, 10px);
    background-color: royalblue;
}

TextElement {
    background-color: transparent;
}

@keyframes SliderBar-slide {
    to {
        transform: translate(190px, 10px);
    }
}