:root {
    width: 600px;
    height:600px;
    justify-content:flex-start;
    align-items:flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color:rgb(184, 57, 116, 0.2);
}

.Child {
    width:100px;
    height:100px;
    margin:10px;
    border-radius:20px;
    justify-content:center;
    align-items:center;
    background-color: initial;
    background-image:url(res/test.jpg);
}

#Child2 {
    height:116px;width:180px;background-image:url(res/test3.jpg);
}

.Child::before {
    width:50px;
    height:50px;
    margin:10px;
    background-image:url(res/UELogo.png);
}

/*negative delay hack*/
#Child1:focus {
    animation-name:rotateanim;
    animation-duration: 0.5s;
    animation-yield-mode:stop;
    animation-resume-mode:reset;
    animation-name:shapeanim;
    animation-duration: 0.5s;
    animation-delay: -0.5s;
    animation-fill-mode: none;
    animation-yield-mode:goback;
    animation-resume-mode:reset;
}

.Test{
    width: 20px;
    height:20px;
    animation-name:monan;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: initial;
    background-image:url(res/test1.png);
}

@keyframes rotateanim {
    10% {
        background-color:rgb(141, 141, 141);
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(-10deg); 
    }
    50% {
        transform:  rotate(10deg);
    }
    70% {
        transform:  rotate(-10deg);
    }
    80% {
        transform:  rotate(0deg);
    }
    to {
        transform:  scale(1.2, 1.2);
        background-color:rgb(73, 214, 125);
    }
}

@keyframes shapeanim {
    to {
        transform:  scale(1.2, 1.2) rotate(360deg);
        border-top-right-radius:0px;
        border-bottom-right-radius:0px;
        background-color:rgb(73, 214, 125);
    }
}

/*multi animation overload hack*/
#Child2:focus {
    animation-name:shapeanim2;
    animation-duration: 0.5s;
    animation-yield-mode:goback;
    animation-resume-mode:reset;
    animation-name:rotateanim2;
    animation-duration: 0.5s;
    animation-yield-mode:stop;
    animation-resume-mode:reset;
}

@keyframes rotateanim2 {
    10% {
        background-color:rgb(26, 11, 92);
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(-10deg); 
    }
    50% {
        transform:  rotate(10deg);
    }
    70% {
        transform:  rotate(-10deg);
    }
    80% {
        transform:  rotate(0deg);
    }
    to {
        background-color:rgb(73, 214, 125);
        transform:  scale(1.2, 1.2);
    }
}

@keyframes shapeanim2 {
    to {
        transform:  scale(1.2, 1.2) rotate(360deg);
        border-top-right-radius:0px;
        border-bottom-right-radius:0px;
        background-color:rgb(73, 214, 125);
    }
}

@keyframes monan {
    12.5% {
        transform: rotate(10deg) scale(1.25, 1.25);
    }
    37.5% {
        transform: rotate(-10deg) scale(1.75, 1.75); 
    }
    62.5% {
        transform:  rotate(10deg) scale(0.75, 0.75);
    }
    87.5% {
        transform:  rotate(-10deg) scale(0.9, 0.9);
    }
    100% {
        transform:  rotate(0deg) scale(1.0, 1.0);
    }
}

/* TODO: animation callback */