#TestElement {
    width: 450px;
    height:450px;
    justify-content:center;
    align-items:center;
    color:rgb(184, 57, 116)
}

.Child {
    width:100px;
    height:100px;
    margin:10px;
    border-top-right-radius:20px;
    border-bottom-right-radius:50px;
    color:rgb(41, 133, 182)
}

.Child:focus {
    animation-name:testanim;
    animation-duration: 0.5s;
}

@keyframes testanim {
    50% {
        color:rgb(26, 11, 92)
    }
    to {
        border-top-right-radius:0px;
        border-bottom-right-radius:0px;
        transform: scale(1.2, 1.2) rotate(180deg);
        color:rgb(73, 214, 125);
    }
}